In [1]:
import pandas as pd
import numpy as np

filename = 'Labels/5000_batch_raw.csv'
df = pd.read_csv(filename)

In [2]:
df.describe()

,MaxAssignments,AssignmentDurationInSeconds,AutoApprovalDelayInSeconds,NumberOfSimilarHITs,LifetimeInSeconds,ApprovalTime,RejectionTime,RequesterFeedback,WorkTimeInSeconds,Input.CLIP,...,Answer.disgust,Answer.fear,Answer.gender,Answer.happiness,Answer.sadness,Answer.sentiment,Answer.surprise,Answer.video_load,Approve,Reject
count,15000.0,15000.0,15000.0,0.0,0.0,0.0,0.0,0.0,15000.000000,15000.000000,...,14951.000000,14953.000000,14952.0,14953.000000,14952.000000,14957.000000,14947.000000,14997.000000,0.0,0.0
mean,3.0,900.0,259200.0,NaN,NaN,NaN,NaN,NaN,77.049067,7.778800,...,0.046084,0.093694,0.0,0.514211,0.181915,0.486060,0.046096,0.033740,NaN,NaN
std,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,115.300142,7.034911,...,0.253041,0.388241,0.0,0.813100,0.542932,1.197482,0.253866,0.180565,NaN,NaN
min,3.0,900.0,259200.0,NaN,NaN,NaN,NaN,NaN,3.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,-3.000000,0.000000,0.000000,NaN,NaN
25%,3.0,900.0,259200.0,NaN,NaN,NaN,NaN,NaN,22.000000,2.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
50%,3.0,900.0,259200.0,NaN,NaN,NaN,NaN,NaN,35.000000,6.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
75%,3.0,900.0,259200.0,NaN,NaN,NaN,NaN,NaN,74.000000,11.000000,...,0.000000,0.000000,0.0,1.000000,0.000000,1.000000,0.000000,0.000000,NaN,NaN
max,3.0,900.0,259200.0,NaN,NaN,NaN,NaN,NaN,896.000000,48.000000,...,3.000000,3.000000,0.0,3.000000,3.000000,3.000000,3.000000,1.000000,NaN,NaN

In [18]:
df.dtypes

HITId                           object
HITTypeId                       object
Title                           object
Description                     object
Keywords                        object
Reward                          object
CreationTime                    object
MaxAssignments                   int64
RequesterAnnotation             object
AssignmentDurationInSeconds      int64
AutoApprovalDelayInSeconds       int64
Expiration                      object
NumberOfSimilarHITs            float64
LifetimeInSeconds              float64
AssignmentId                    object
WorkerId                        object
AssignmentStatus                object
AcceptTime                      object
SubmitTime                      object
AutoApprovalTime                object
ApprovalTime                   float64
RejectionTime                  float64
RequesterFeedback              float64
WorkTimeInSeconds                int64
LifetimeApprovalRate            object
Last30DaysApprovalRate          object
Last7DaysApprovalRate           object
Input.VIDEO_ID                  object
Input.CLIP                       int64
Answer.anger                   float64
Answer.disgust                 float64
Answer.fear                    float64
Answer.gender                  float64
Answer.happiness               float64
Answer.sadness                 float64
Answer.secret_word1             object
Answer.secret_word2             object
Answer.secret_word3             object
Answer.sentiment               float64
Answer.surprise                float64
Answer.video_load              float64
Approve                        float64
Reject                         float64
dtype: object

In [7]:
df.columns

Index(['HITId', 'HITTypeId', 'Title', 'Description', 'Keywords', 'Reward',
       'CreationTime', 'MaxAssignments', 'RequesterAnnotation',
       'AssignmentDurationInSeconds', 'AutoApprovalDelayInSeconds',
       'Expiration', 'NumberOfSimilarHITs', 'LifetimeInSeconds',
       'AssignmentId', 'WorkerId', 'AssignmentStatus', 'AcceptTime',
       'SubmitTime', 'AutoApprovalTime', 'ApprovalTime', 'RejectionTime',
       'RequesterFeedback', 'WorkTimeInSeconds', 'LifetimeApprovalRate',
       'Last30DaysApprovalRate', 'Last7DaysApprovalRate', 'Input.VIDEO_ID',
       'Input.CLIP', 'Answer.anger', 'Answer.disgust', 'Answer.fear',
       'Answer.gender', 'Answer.happiness', 'Answer.sadness',
       'Answer.secret_word1', 'Answer.secret_word2', 'Answer.secret_word3',
       'Answer.sentiment', 'Answer.surprise', 'Answer.video_load', 'Approve',
       'Reject'],
      dtype='object')

In [8]:
df.shape

(15000, 43)

In [19]:
print('number of files: '+str(df.shape[0]))
print('number of happiness: '+str(df['Answer.happiness'].sum()))
print('number of sadness: '+str(df['Answer.sadness'].sum()))
print('number of disgust: '+str(df['Answer.disgust'].sum()))
print('number of fear: '+str(df['Answer.fear'].sum()))
print('number of sentiment: '+str(df['Answer.sentiment'].sum()))
print('number of surprise: '+str(df['Answer.surprise'].sum()))
print('number of anger: '+str(df['Answer.anger'].sum()))

number of files: 15000
number of happiness: 7689.0
number of sadness: 2720.0
number of disgust: 689.0
number of fear: 1401.0
number of sentiment: 7270.0
number of surprise: 689.0
number of anger: 1843.0

In [24]:
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

sorted_df = df.sort_values(by = ['WorkTimeInSeconds'])
print(sorted_df["WorkTimeInSeconds"].describe())

count    15000.000000
mean        77.049067
std        115.300142
min          3.000000
25%         22.000000
50%         35.000000
75%         74.000000
max        896.000000
Name: WorkTimeInSeconds, dtype: float64

In [29]:
print(sorted_df["WorkTimeInSeconds"].head(100))

10837    3
12622    3
12181    3
10942    4
11344    4
        ..
12202    9
13395    9
3019     9
11842    9
12935    9
Name: WorkTimeInSeconds, Length: 100, dtype: int64

In [ ]:
ax = sorted_df.plot(y=["WorkTimeInSeconds"], color = ['b', 'orange'])